*{
	margin: 0px;
	padding: 0px;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	overflow: hidden;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* 左侧增加栏 */
.add-bar{
	width: 7%;
	background-color: #003D79;
	display: flex;
	flex-direction: column;
}

.add-bar-icon{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.add-bar-tool{
	width: 100%;
	height: 20%;
}

.add-dis-icon{
	text-align: center;
	margin-top: 5px;
}

.add-dis-icon img{
	width: 30px;
	cursor: pointer;
}

.add-bar-tool{
	display: flex;
	align-items: flex-end;
}

.add-bar-blacket{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.blacker-icon img{
	width: 20px;
	cursor: pointer;
}

/* 工具栏 */
.info-bar{
	width: 20%;
	height: 100%;
	background-color: #003D79;
	border-left: 1px solid #d0d0d0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-aggregate{
	width: 90%;
	height: 80%;
}

.info-menu,
.info-product,
.info-dashborad{
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	border-bottom: 1px solid #6C6C6C;
}

.menu-content{
	display: flex;
	flex-direction: row;
	height: 16%;
	font-size: 10px;
	color: 	#d0d0d0;
}

.menu-content img{
	width: 25px;
}

.i-font{
	font-size: 16px;
	color: #E0E0E0;
}

.i-font,
.i-icon{
	width: 50%;
}

.i-icon{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.menu-icon{
	width: 16px;
}

.info-dashborad{
	overflow: scroll;
}

.info-dashborad::-webkit-scrollbar {
	display:none
}

.info-goal{
	height: 20%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content:  flex-end;
	padding-bottom: 5px;
}

.monthly-goals{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.monthly-goals span{
	font-size:12px;
	color: #ffffff;
}

.goals-display{
	width: 100%;
	height: 5px;
	background-color: #4F4F4F;
	position: relative;
}

.goals-display-cover{
	width: 30%;
	height: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #3A006F;
}

/* 资讯栏 */
.message-bar{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.message-headline{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
}

.message-logo,
.message-person-info{
	width: 50%;
	height: 100%;
}

.message-logo{
	display: flex;
	align-items: center;
	padding: 10px;
	color: #6C6C6C;
}

.person-pic{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.person-pic img{
	width: 50%;
}

.message-person-info{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.person-info{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.person-info p:nth-child(1){
	color: #2828FF;
}

.person-info p:nth-child(2){
	color: #E0E0E0;
}

.person-drop-down{
	width: 50%;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.person-drop-down img{
	width: 10%;
}

.message-left{
	height: 90%;
	width: 40%;
	border: 1px solid #E0E0E0;
	overflow: scroll;
}

.message-left::-webkit-scrollbar {
	display:none
}

.message-search{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: center;
}

.search-input{
	width: 70%;
	height: 80%;
}

.search-input input{
	width: 100%;
	border-right: none;
	outline: none;
}

.search-button{
	width: 30%;
	height: 80%;
	display: flex;
	justify-content: center;
}

.search-button img{
	width: 50%;
	height: 50%;
	max-width: 30px;
}

.search-input,
.search-button{
	display: flex;
	align-items: center;
}

.message-info{
	width: 100%;
	height: 90%;
	border: 1px solid #E0E0E0;
}

.info-div{
	width: 100%;
	height:100px;
	display: flex;
	flex-direction: column;
	border: 1px solid #E0E0E0;
}

.person-div,
.message-div
{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
}

.person-icon{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.person-icon img{
	width: 80%;
	height: 60%;
	max-width: 40px;
}

.person-name{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.person-name p:nth-child(1){
	color: #4A4AFF;
}

.person-name p:nth-child(2){
	color: #E0E0E0;

}

.person-release{
	width: 40%;
	height: 100%;
	font-size: 12px;
	color: #E0E0E0;
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.message-div{
	padding: 5px;
	font-size: 12px;
}

.message-right{
	width: 60%;
	height: 90%;
}

.message-choose{
	width: 100%;
	height: 10%;
	border: 1px solid #E0E0E0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.choose-name{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 12px;
	padding: 10px;
}

.choose-option{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.choose-three{
	height: 100%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choose-three img{
	height: 10px;
	width: 40px;
}

.choose-date{
	width: 30%;
	height: 100%;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choose-two{
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: cener;
	align-items: center;
}

.choose-two img{
	height: 10px;
	width: 40px;
}

.message-show{
	border: 1px solid #E0E0E0;
	width: 100%;
	height: 90%;
}